#search {
  margin-top: 60px;
  margin-bottom: 20px;
}

#title {
  text-align: center;
}

#search-btn {
  height: 15px;
  width: 15px;
}

#cart {
  margin-right: 40px;
  float: right;
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

#cartp {
  float: right;
  height:30px;
  width: 30px;
}

#grocery-board {
  display: flex;
  flex-wrap: wrap;
}

#cart-page {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#cart-page div {
  width: 700px;
  height: 70px;
  border: 0.35em solid black;
  border-radius: 1px;
  margin: 5px;
}

#cart-page p {
  font-size: 15px;
}

#cart-page img {
  width: 250px;
  height: 200px;
  border-bottom: 5px solid black;
}

#grocery-board div {
  width: 250px;
  height: 300px;
  border: 0.35em solid black;
  border-radius: 1px;
  margin: 5px;
}

#grocery-board div img {
  width: 250px;
  height: 200px;
  border-bottom: 5px solid black;
}

#grocery-board div p {
  margin: 8px;
}

#grocery-board div button {
  margin-left: 8px;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(1px);
}

.shortRecipes {
  width: 500px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color:aliceblue;
  border: 5px solid black;
  margin-left: 50%;
  margin-top: -600px;
  z-index: 9999;
  justify-content: center;
  text-align: center;
}

.no-blur {
  filter: none;
}