main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.recipeCard {
    display: block;
    height: 100pt;
    margin: auto;
    margin-bottom: 10pt;
    width: 200pt;
    justify-content: space-evenly;
    border: 0.35em solid black;
    border-radius: 1em;
    align-items: center;
    padding: 10pt;
}

.recipeCard img {
    display: flex;
    margin: auto;
    height: 40pt;
    width: 40pt;
}

body footer {
    display: block;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
}