#search {
  margin-top: 60px;
  margin-bottom: 20px;
}

#title {
  text-align: center;
  text-shadow: 10px 10px 10px lightblue;
}

#search-btn {
  height: 15px;
  width: 15px;
}

#cart {
  margin-right: 40px;
  float: right;
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

#cartp {
  float: right;
  height:30px;
  width: 30px;
}

#grocery-board.grid-view {
  display: flex;
  flex-wrap: wrap;
}

#cart-page {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#cart-page div {
  width: 150px;
  height: 200px;
  border: 0.35em solid black;
  border-radius: 1px;
  margin: 5px;
}

#nameItem {
  font-size: 15px;
  margin-left: 10px;
}

#cart-page img {
  width: 150px;
  height: 150px;
  border-bottom: 5px solid black;
}

#grocery-board.grid-view div {
  width: 250px;
  height: 350px;
  border: 0.35em solid black;
  border-radius: 1px;
  margin: 5px;
  font-family: "Helvetica", sans-serif;
}

#grocery-board.list-view div {
  width: 200px;
  height: 250px;
  border: 0.35em solid black;
  border-radius: 1px;
  margin: 5px;
  text-align: center;
}

#grocery-board.grid-view div img  {
  width: 250px;
  height: 200px;
  border-bottom: 5px solid black;
}

#grocery-board.list-view div img  {
  width: 100px;
  height: 100px;
}

#grocery-board.grid-view div p {
  margin: 8px;
}

#grocery-board.grid-view div button {
  margin-left: 8px;
}

.hidden {
  display: none;
}

.shortRecipes {
  width: 500px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color:aliceblue;
  border: 5px solid black;
  margin-left: 50%;
  margin-top: -600px;
  z-index: 9999;
  justify-content: center;
  text-align: center;
}

#purchase {
  float: right;
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

#purchasesP {
  float: right;
  margin-right: 70px;
  margin-top: 15px;
  height:30px;
  width: 30px;
}


#confirmation {
  height: 400px;
  margin: auto;
  margin-bottom: 10pt;
  width: 200px;
  border: 0.35em solid black;
  border-radius: 1em;
  align-items: center;
  padding: 10pt;
}