
h1 {
  text-align: center;
}

#purchaseDiv {
  display: flex;
  align-items: center;
  border: 2px solid black;
  height: 80px;
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

#purchaseDiv img {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

#purchaseID {
  padding: 20px;
}