header {
    text-align: center;
}

#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

#submitRtg {
    margin-top: 8%;
}

.dontShow {
    display: none;
}

#showRev {
    margin-top: 8%;
}

.recipeCard {
    height: 400px;
    margin: auto;
    margin-bottom: 10pt;
    width: 200px;
    border: 0.35em solid black;
    border-radius: 1em;
    align-items: center;
    padding: 10pt;
}

.recipeCard img {
    display: flex;
    margin: auto;
    height: 40pt;
    width: 40pt;
}

.recipeCard .pluss {
    margin-bottom: 10pt;
    margin-left: 90%;
    height: 10pt;
    width: 10pt;
}

body footer {
    display: block;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.shortReview {
    width: 500px;
    height: 500px;
    overflow: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:aliceblue;
    border: 5px solid black;
    margin-left: 50%;
    margin-top: -600px;
    z-index: 9999;
    justify-content: center;
    text-align: center;
  }

  img + h2 {
    border: 2px solid lightblue;
    border-radius: 10px;
  }